aiohttp==3.7.4.post0
alabaster==0.7.12
altgraph==0.17
anyio==2.2.0
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==0.17.0
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==3.3.0
blurhash==1.1.4
bottle==0.12.19
breathe==4.26.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cycler==0.10.0
decorator==5.0.4
defusedxml==0.6.0
descartes==1.1.0
discord.py==1.7.2
distlib==0.3.1
docutils==0.16
entrypoints==0.3
et-xmlfile==1.1.0
filelock==3.0.12
future==0.18.2
ghp-import==2.1.0
gitdb==4.0.9
GitPython==3.1.27
greenlet==1.1.2
humanize==3.5.0
idna==2.10
imagesize==1.2.0
importlib-metadata==4.12.0
ipykernel==5.5.3
ipympl==0.7.0
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
irc==19.0.1
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.logging==3.1.0
jaraco.stream==3.0.2
jaraco.text==3.5.0
jedi==0.18.0
Jinja2==2.11.2
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter-book==0.13.0
jupyter-cache==0.4.3
jupyter-client==6.1.12
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-packaging==0.7.12
jupyter-server==1.5.1
jupyter-server-mathjax==0.2.6
jupyter-sphinx==0.3.2
jupyterlab==3.0.12
jupyterlab-pygments==0.1.2
jupyterlab-server==2.4.0
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
latexcodec==2.0.1
linkify-it-py==1.0.3
llvmlite==0.36.0
lxml==4.9.1
markdown-it-py==1.1.0
MarkupSafe==1.1.1
Mastodon.py==1.5.1
matplotlib==3.3.4
mdit-py-plugins==0.2.8
mistune==0.8.4
mizani==0.7.3
more-itertools==8.7.0
mplcursors==0.5.2
mpldatacursor==0.7.1
multidict==5.1.0
myst-nb==0.13.2
myst-parser==0.15.2
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.0.7
nbdime==3.1.1
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.3.0
numba==0.53.1
numpy==1.19.5
oauthlib==3.1.0
openpyxl==3.0.7
oslo.i18n==5.0.1
packaging==20.8
palettable==3.3.0
pandas==1.2.1
pandocfilters==1.4.3
paretoset==1.2.0
parso==0.8.2
patsy==0.5.1
pbr==5.5.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.1.0
pip==22.0.4
Platypus==1.0
Platypus-Opt==1.0.4
plotnine==0.8.0
pluggy==0.13.1
ply==3.11
praw==6.5.1
prawcore==1.5.0
PRIM==0.4
prometheus-client==0.10.0
prompt-toolkit==3.0.18
py==1.10.0
pyborg==2.0.0
pybtex==0.24.0
pybtex-docutils==1.0.2
pycparser==2.20
pydata-sphinx-theme==0.8.1
pydot==1.4.2
pydotplus==2.0.2
Pygments==2.7.4
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
python-magic==0.4.22
PyTumblr==0.1.0
pytz==2020.5
pytz-deprecation-shim==0.1.0.post0
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==6.0
pyzmq==22.0.3
requests==2.25.1
requests-oauthlib==1.3.0
Rhodium==0.1
rpy2==3.5.3
SALib==1.3.8
scikit-learn==0.24.2
scipy==1.6.0
seaborn==0.11.1
Send2Trash==1.5.0
setuptools==58.1.0
six==1.15.0
sklearn==0.0
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.0.0
soupsieve==2.3.2.post1
Sphinx==4.5.0
sphinx-book-theme==0.3.3
sphinx-comments==0.0.3
sphinx-copybutton==0.5.0
sphinx_design==0.1.0
sphinx-external-toc==0.2.4
sphinx-jupyterbook-latex==0.4.6
sphinx-multitoc-numbering==0.1.3
sphinx-rtd-theme==0.5.1
sphinx-thebe==0.1.2
sphinx-togglebutton==0.3.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.4.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.40
statsd==3.3.0
statsmodels==0.12.1
tabulate==0.8.9
tempora==4.0.2
terminado==0.9.4
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.2
tornado==6.1
tox==3.23.1
traitlets==5.0.5
tweepy==3.10.0
typing-extensions==3.10.0.0
tzdata==2022.1
tzlocal==4.2
uc-micro-py==1.0.1
update-checker==0.18.0
urllib3==1.26.2
venusian==3.0.0
virtualenv==20.4.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.59.0
wheel==0.37.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==2.0.1
yarl==1.6.3
zipp==3.8.1
